<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sky.sky.activeandroiddemo">

    <application
        android:name=".ActiveApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--默认创建的数据库名称为Application.db，需要修改数据库名称以及进行版本管理需要在清单文件中添加如下节点-->
        <meta-data android:name="AA_DB_NAME" android:value="sky.db" />
        <meta-data android:name="AA_DB_VERSION" android:value="1" />
    </application>

</manifest>